
<h1>Make Reservation</h1>

<%= form_for [@place, @place.reservations.build] do |f| %>
    <p>
      <%= f.label "People" %><br>
      <%=  f.text_field :number_of_people %>
    </p>
    <p>
    <p>
      <%= f.label :Date %><br>
      <%= f.date_select :date %>
    </p>

      <%= f.submit "Reservate" %>
    </p>


<% end %>