<%= form_for @place do |f| %>
    <p>
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </p>
    <p>
      <%= f.label :city %><br>
      <%= f.text_field :city %>
    </p>
    <p>
      <%= f.label :phone_number %><br>
      <%= f.text_field :phone_number %>
    </p>
    <p>
    <%= f.select :category_id, @categories %>
    </p>
    <p>
      <%= f.submit :save %>
    </p>

<% end %>