<b>Name:</b><td><%= @place.name%></td><br>
<b>Phone Number:</b><td><%= @place.phone_number%></td><br>
<b>Address:</b><td><%= @place.address%></td><br>
<b>City:</b><td><%= @place.city%></td><br>
<b>Category:</b><td><%= @place.category.name%></td><br>
<b>E-mail:</b><td><%= @place.contact_mail%></td><br>
<b>Established at:</b><td><%= @place.estanlished_at%></td><br>
<b>Foods:</b> <td><%= @place.foods.collect { |x| x.name }%></td>

<% @place.comments.each do |comment| %>
    <p>
      <strong>Comment:</strong>
      <%= comment.body %>
      <% if current_customer.present? && current_customer.id == comment.customer.id %>
    <%= link_to 'Destroy Comment', [comment.place, comment],
                method: :delete,
                data: { confirm: 'Are you sure?' } %></p>
      <% end %>
<% end %>
<p>

</p>
<h2>Add a comment:</h2>
<div class="panel-body">
<%= form_for([@place, @place.comments.new]) do |f| %>


    <p>
      <%= f.label :Comment  %><br>
      <%= f.text_field :body, size: 70%>
    </p>
    <p>
      <%= f.submit %>
    </p>
<% end %>
</div>
<h1>Reservations</h1>
<% @place.reservations.each do |r| %>
        <p>
          E-mail :
          <%= r.customer.email %><br>
          Date :
          <%= r.date %><br>
          People :
          <%= r.number_of_people %>
          <% if current_customer.present? && current_customer.id == r.customer.id %>
          <%= link_to 'Destroy Reservation', [r.place, r],
                      method: :delete,
                      data: { confirm: 'Are you sure?' } %>
        </p>
    <% end %>
<% end %>

<%= render 'reservations/form' %>

<a href="/places">Back</a>
